<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Nota</title>
</head>
<body>
    <h1>Modificar Nota</h1>
    <form class="formulario" action="/modificar/<%= nota._id %>" method="post">
        <input type="text" placeholder="Título" name="titulo" value="<%= nota.titulo %>" required>
        <input type="text" placeholder="Mensaje" name="mensaje" value="<%= nota.mensaje %>" required>
        <input type="text" placeholder="Fecha" name="fecha" value="<%= nota.fecha %>" required>
        <input type="submit" value="Modificar Nota">
    </form>
    <a href="/">Volver al inicio</a>
</body>
</html>
